body {
    font-family: Helvetica,arial,sans-serif;
    background-color: rgb(131, 133, 175);
	/* height: max-content;
	width: max-content; */
	margin: 0;
}

h1 {
    color:rgb(11, 235, 111);
    text-align: center;
    font-size: 500%;
    line-height: 40%;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(94, 102, 216);
    text-shadow:
     6px 6px 6px rgb(0, 0, 0),
     -1px -1px 0 rgb(0, 0, 0),  
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
	 z-index: 5;
}

#pagina {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: space-between;
}
.contenedor {
	background-color: rgb(75, 64, 64);
	width: 15%;
	height: 100%;
	top: 0px;

}

.contenedor-componente {
	position: relative;
	height: 11%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	width: 30%;
	z-index: 2;
}

#placita {
	height: 90%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 5rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 1;
	z-index: -1;
}
.cielo {
	height: 100%;
	width: 100%;
	background: #BDE6F1;
	border-radius: 5rem;
	position: absolute;
	bottom: 0.5%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 100%;
	height: 45%;
	background: #C9E4C5;
	position: absolute;
	border-radius: 0 0 5rem 5rem;
	bottom: 1%;
	opacity: 0.7;
	z-index: 2;
}

#sol {
	width: 15%;
	height: 20%;
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20%;
	right: 30%;
}

#plazasol {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 3;
}

#banqueta {
	width: 10%;
	height: 20%;
    position: absolute;
	bottom: 5%;
	left: 25%;
}
#plazaancianos {
    position: absolute;
    bottom: 0%;
    width: 150%;
    height: 150%;
}
#pasto {
    width: 10%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    right: 30%;
    z-index: 3;
}

#plazapasto {
    width: 50%;
    left: 50%;
}

#plazapasto2 {
    width: 50%;
}

#perro {
    position: absolute;
    width: 10%;
    height: 20%;
    left: 50%;
    bottom: 35%;
}

#plazaperro {
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: 0%;
}